<!DOCTYPE html>
<html>
  <head>
    <title><%= siteName %>--Home <%= pageTitle %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="jumbotron d-none d-sm-block"></div>

      <%- include('./partials/navigation')%>
    </header>

    <%- include(`../pages/${template}`) %> <%- include('./partials/scripts')%>
  </body>
</html>
