<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
      <article class="speakerslist maincontent">
        <% speakers.forEach(speaker => { %>
        <div class="mb-4">
          <h4 class="speakerslist-title"><%= speaker.title %></h4>
          <div class="speakerslist-name">
            with
            <a href="/<%= speaker.shortname %>.html"><%= speaker.name %> Post</a>
          </div>
          <div class="row speakerslist-info mt-2">
            <div class="col-sm-3">
              <a href="/speakers/<%= speaker.shortname %>">
                <img
                  class="speakerslist-img rounded-circle img-fluid"
                  src="/images/speakers/<%=speaker.shortname %>_tn.jpg"
                  alt="Photo of <%= speaker.name %>"
                />
              </a>
            </div>
            <div class="col-sm-9"><%= speaker.summary %></div>
          </div>
        </div>
        <% }) %>
      </article>
    </div>
    <aside class="col-sm-4"><%- include('./partials/artwork') %></aside>
  </div>
</div>
