<%- include("header") -%>
    <div id="heading" class="box">
 <h1><%=ListTitle%></h1>
</div>

 <div class="box">
  <%   newlistitems.forEach(function(element) {%>
   <form action="/delete" method="post">
 
     <div class="item">
     <input type="checkbox"  name ="checkbox" value=<%=element._id%> onChange="this.form.submit()">
    <p><%= element.name%></p>
</div>
<input type="hidden" name="listname" value="<%=ListTitle%>">
</form>
   <% })%>
  
   
 

 <form  class="item" action="/" method="post">
<input type="text" name="newitem"  autocomplete="off" placeholder="New Item" >
<button type="submit"  value=<%=ListTitle%> name="list" >+</button></form>
</div>
<%- include("footer") -%>
